@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Mobile: 375px;
  --Desktop: 1440px;

  --LightCyan: hsl(193, 38%, 86%);
  --NeonGreen: hsl(150, 100%, 66%);

  --GrayishBlue:  hsl(213.6,20.66%,23.73%);
  --DarkBlue: hsl(216, 13%, 8%);

  --background: var(--GrayishBlue);
  --text:hsl(193, 38%, 86%);
  --radio: #7C96B2;
  --radio-checked: var(--NeonGreen);
  --radio-size: 20px;
  --width: 150px;
  --height: 140px;
  --border-radius: 10px;

}

body {
  font-family: 'Manrope', sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--LightCyan);
  text-align: center;
  background-color: var(--DarkBlue);
}
.formContainer{
  display: flex;
  position: fixed;
  top: 20px;
  justify-content: center;
  left: 0;
  right: 0;
}
.selectForm{
  border-radius: 20px;
  padding: 10px 20px;
  background:var(--GrayishBlue);
  color: var(--NeonGreen);
}

.container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 520px;
  height: auto;
  background-color: var(--GrayishBlue);
  box-shadow: -1px 3px 5px rgb(178, 178, 178);
}
.container .advise{
  color: var(--NeonGreen);
  padding: 50px 20px 20px 20px;
  font-size: 12px;
}
.container .text{
  padding: 0 10px 30px 10px;
  font-size: 28px;
}


.container .btn{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  background: var(--NeonGreen);
  margin-bottom: -25px;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.3s all;
}
.container .btn:hover{
  box-shadow: 0 0 10px 10px rgba(82, 255, 168, 0.5);
}

.attribution {
  position: fixed;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width:500px) {
  .container {
    width: 320px;
  }
  container .text{
    font-size: 10px;
  }
}
@media (max-width:670px) {
  .container .text{
    padding: 0 10px 30px 10px;
    font-size: 14px;
  }
}